<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="adminHeader">
       <section class="container-fluid p-0">
        <div class="d-flex flex-column">
            <div>
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Admin Page</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Users
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" th:href="@{/admin/allUsers}">All user</a>
                                        <a class="dropdown-item" th:href="@{/admin/addUser}">Add user</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/allTextile}">Textile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/allFurnitureTypes}">FurnitureTypes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/allFurnitures}">Furnitures</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Statistic</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </section>
</th:block>