
<!--List of all Users-->
<th:block xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="allUsers">
    <section class="container-fluid p-0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="usr, index : ${users}">
                    <th scope="row" th:text="${index.count}"></th>
                    <td th:text="${usr.firstName}"></td>
                    <td th:text="${usr.secondName}"></td>
                    <td th:text="${usr.username}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a th:href="@{'/admin/changeUser-'+${usr.id}}" class="btn btn-primary">Change</a>
                            <a th:href="@{'/admin/deleteUser-'+${usr.id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</th:block>

<!--Registration form of User-->
<th:block xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="addUser">
<div class="container">
    <form th:action="@{/admin/addUser}" method="post">
        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="firstName">
        </div>
        <div class="form-group">
            <label for="secondName">Second name</label>
            <input type="text" class="form-control" id="secondName" name="secondName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</th:block>

<!--Change form of User-->
<th:block xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="changeUser">
    <div class="container">
        <form th:action="@{/admin/changeUser}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="firstName" th:value="${usr.firstName}">
            </div>
            <div class="form-group">
                <label for="secondName">Second name</label>
                <input type="text" class="form-control" id="secondName" name="secondName"th:value="${usr.secondName}">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="text" class="form-control" id="phoneNumber" name="username" th:value="${usr.username}">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" th:value="${usr.password}">
            </div>
            <input type="hidden" name="id" th:value="${usr.id}">
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
</th:block>