<!--ADD Furniture Type-->
<th:block xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="allTextile">

    <section class="container-fluid p-0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">provider</th>
                    <th scope="col">type</th>
                    <th scope="col">category</th>
                    <th scope="col">color</th>
                    <th scope="col">photo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tx, index : ${textileList}" style="height: 80px">
                    <th scope="row" th:text="${index.count}"></th>
                    <td th:text="${tx.name}"></td>
                    <td th:text="${tx.provider}"></td>
                    <td th:text="${tx.type}"></td>
                    <td th:text="${tx.category}"></td>
                    <td th:text="${tx.color}"></td>
                    <td>
                        <img th:src="@{${tx.photoPath}}" width="100" height="70">
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <!--<a th:href="@{'/admin/changeFurnitureType-'+${ft.id}}" class="btn btn-primary">Change</a>-->
                            <a th:href="@{'/admin/deleteFurnitureType-'+${tx.textile_id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>



    <!--Form ADD-->
    <div class="container">
        <form th:action="@{/admin/addTextile}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="provider">Provider</label>
                <input type="text" class="form-control" id="provider" name="provider">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" name="type">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" name="category">
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" name="color">
            </div>
            <div class="form-group">
                <label for="photo">Choose photo</label>
                <input type="file" class="form-control" id="photo" name="photo">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</th:block>