<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Favoris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script></head>
<body>
<div th:replace="~{fragments/fragHeaders :: adminHeader}"></div>



<!--<div sec:authentication="authorities">-->
    <!--The value of the "name" property of the authentication object should appear here.-->
<!--</div>-->
<!--<p sec:authorize="hasRole('ADMIN')">-->
    <!--<a th:href="@{/admin/adminPage}" class="btn btn-primary"></a>-->
<!--</p>-->

<div class="container-fluid">
    <div class="row m-3">
        <div class="col-md-12 col-lg-4"  th:each="ft : ${furnitureTypes}">
            <div class="card  mr-3 mb-4" style="width: 100%;">
                <img th:src="@{${ft.photoPath}}" class="card-img-top" alt="Example" width="100%" height="200px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${ft.nameOfType}">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>