<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Favoris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<!--<div class="container">-->
    <!--<img src="img/logo.png" width="200px" height="50px">-->
<!--</div>-->
<!--<p th:text="${test}">nothing</p>-->
<!--<div class="container">-->
    <!--<form  method="post" th:action="@{/login}">-->
        <!--<div class="form-group">-->
            <!--<label for="examplePhoneNumber">Phone number</label>-->
            <!--<input type="text" class="form-control" id="examplePhoneNumber" name="username">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword1">Password</label>-->
            <!--<input type="password" class="form-control" id="exampleInputPassword1" name="password">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-primary" value="submit">Submit</button>-->
        <!--<a th:href="@{/registration}" class="btn btn-primary">Registration</a>-->
    <!--</form>-->
<!--</div>-->

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Login to Favoris Shop</h5>
                    <form th:action="@{/login}" method="post" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" data-inputmask="'alias': 'phonebe'">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" id="sendlogin" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="alert alert-danger" role="alert" th:if="false">
    This is a danger alert—check it out!
</div>
<script>
    $(document).ready(function(){
        $(":input").inputmask();



        $("#username").inputmask({
            mask: '999 999 9999',
            placeholder: ' ',
            showMaskOnHover: false,
            showMaskOnFocus: false,
            onBeforePaste: function (pastedValue, opts) {
                var processedValue = pastedValue;

//do something with it

                return processedValue;
            }
        });
    });
</script>
</body>
</html>